.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	overflow: hidden;
}

.homepage-button {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
}